<<<div class="card-group">
  <div class="card">
    <img src='./assets/xbox.jpg' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CONSOLA XBOX SERIES S</h5>
      <p class="card-text">ALMACENAMIENTO DE 1 TB</p>
      <p class="card-text"><small class="text-muted">Mayor información</small></p>
    </div>
  </div>
<button onclick="MostrarProducto()">VER</button>

  <<div class="card-group">
  <div class="card">
    <img src='./assets/ps5.jpg' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CONSOLA PLAY STATION 5</h5>
      <p class="card-text">ALMACENAMIENTO DE 500 GB</p>
      <p class="card-text"><small class="text-muted">Mayor información</small></p>
    </div>
  </div>
</div></div>
<button onclick="MostrarProducto()">VER</button>
